<html>
    <style type="text/css">
        .content-header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            color: black;
            padding: 5px;
            -webkit-print-color-adjust: exact;
            vertical-align: middle;
            font-weight: bold;
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
            display: inline-block;
            text-align: start;
            border-bottom: 1px solid lightgray;
        }

        .content-header-left {
            font-weight: bold;
            font-size: 8px;
            float: left;
        }

        .content-header-right {
            font-weight: bold;
            font-size: 8px;
            float: right;
        }
    </style>
    <body>
        <div class="content-header">
            <div class="content-header-left">Generated on {{.Date}}</div>
            <br />
            Harmonized {{ .Dashboard.Title }} Data Report
 
        </div>
    </body>
</html>